.Principalsectiontiktok{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    height: 600px;
    width: 100%;
    .divPrincipal1{
        width: 50%;
        padding: 5px;
        .h2Cont2{
            display: flex;
            justify-content: center;
        }
        .parraf{
            display: flex;
            justify-content: center;
        }
    }
    .divSecundaria{
        width: 50%;
        padding: 10px;
        .h2Cont2{
            display: flex;
            justify-content: center;
        }
        .imgTiktok{
            display: flex;
            justify-content: space-around;
        }
    }
}