@media screen and (max-width: 576px) {
    h1{
        font-size: 100px;
    }
    nav {
        .desktop, .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }
    

}
}